* {
  font-family: 'Alef', sans-serif;
  box-sizing: border-box;
}

html {
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.hero{
  color: white;
  margin-right: 50px;
  font-size: 1.7rem;
  line-height: 200%;
  margin-top: 150px;
}

.black-bg {
  background: rgba(0, 0, 0, 0.8);
  height: 4rem;
  margin: 0;
  width: 100%;
  text-align: center;
}

.white-bg {
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  padding: 1rem;
  margin: 0;
}

.h2-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.go {
  font-size: 2.5rem !important;
  width: fit-content !important;
  height: 4rem !important;
  padding-right: 20px;
  padding-left: 20px;
}

.search {
  margin: auto;
  margin-top: 29vh;
  width: 50%;
  /* height: 90%;  */
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

h2 {
  color: white;
  font-size: 2rem;
  /* width: 100px; */
  /* height: 100px; */
  margin: 0;
  padding: 0;
}

.search-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  width: 6rem;
}

.search-button {
  background: rgba(0, 0, 0, 0.8);
}

.inputs {
  display: flex;
  justify-content: space-around;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  margin-top: 5px;
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
}

.label-text {
  margin-right: 30px;
  font-size: 1.5rem;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.header-div {
  /* display: none !important; */
}


/* button design */
.button {
border: none;
color: white;
/* padding: 20px; */
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 1.5rem;
cursor: pointer;
}
.button1 {
  font-weight: bold;
  background-color: inherit;
  margin-right: 25px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.button1:hover {
background-color: rgb(35, 128, 145);
/* transform: scale(1.1, 1.1); */
}
/* text design */
input {
width: 15%;
padding: 10px 20px;
margin: 16px 0px;
}
/*the container must be positioned relative:*/
.custom-select {
position: relative;
}
.custom-select select {
display: none; /*hide original SELECT element:*/
}
.select-selected {
background-color: #3f72af;
}
/*style the arrow inside the select element:*/
.select-selected:after {
position: absolute;
content: "";
top: 14px;
right: 10px;
width: 0;
height: 0;
border: 6px solid transparent;
border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
border-color: transparent transparent #fff transparent;
top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
color: #ffffff;
padding: 8px 16px;
border: 1px solid transparent;
border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
cursor: pointer;
user-select: none;
}
/*!!!style items Inside the dropdown(options):*/
.select-items {
position: absolute;
background-color: rgb(1, 9, 17);
top: 100%;
left: 0;
right: 0;
z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
display: none;
}
.select-items div:hover,
.same-as-selected {
background-color: rgba(0, 0, 0, 0.1);
}

.dark-mode {
background-color: #112d4e;
color: white;
}
.toggle-mode {
margin: auto;
width: 50%;
padding: 10px;
}
.switch {
position: relative;
flex-direction: row;
padding: 10px;
display: flex;
width: 40px;
height: 18px;
margin-left: 10px;
}
.switch input {
opacity: 0;
width: 0;
height: 0;
}
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: 0.4s;
transition: 0.4s;
}
.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: 0.4s;
transition: 0.4s;
}
input:checked + .slider {
background-color: #3f72af;
}
input:focus + .slider {
box-shadow: 0 0 1px #3f72af;
}
input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
border-radius: 34px;
}
.slider.round:before {
border-radius: 50%;
}
.side-bar {
display: flex;
margin-top: 4%;
}
.input-style {
width: 200px;
margin: 16px 0px;
}
#map {
z-index: -1;
width: 100vw;
height: 100vh;
margin: auto;
position: absolute;
top: 0;
left: 0;
}

.leaflet-top {
  top: 70px;
}

.inputs-styles {
display: flex;
padding: 20px;
flex-direction: row;
}
.my-style {
/* justify-content: space-between; */
margin-left: 4%;
margin-right: 3%;
}
.header-div {
display: flex;
justify-content: space-between;
}
.label-text {
padding: 10px;
width: 200px;
}
